/*on hover select link start*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #660064}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: #660064;
}

/*on hover select link end */

/*div responsive*/
.chart{
    width: 100%;
    min-height: 450px;

}

/*div responsive end*/

/* spin of in number text box start*/
input::-webkit-outer-spin-button,
                           input::-webkit-inner-spin-button {
                            /* display: none; <- Crashes Chrome on hover */
                            -webkit-appearance: none;
                            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                            }
/* spin of in number text box end*/

/*more content start */ 

.morecontent span {
    display: none;
    text-decoration: none;
}
.morelink {
    display: block;
    text-decoration: none;
}

/*more content end */ 